* {
	/*background-image: none;*/
}

window {
	background-color: rgba(0, 0, 0, 0.6);
}

button {
	color: #ffffff;
	margin: 300px;
	font-size: 100px;
	background: #000000;
	outline-style: none;
	border: 5px solid transparent;
	border-radius: 20px;
}

button#shutdown {
    margin-left: 20px;
    padding-right: 45px;
}

button#reboot {
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 45px;
}

button#logout {
    margin-right: 20px;
    padding-right: 45px;
}

button:hover {
    /*background-color: #ffffff;
    color: #000000;*/
    border: 5px solid #ffffff;
}

/*
button:hover#logout {
}

button:hover#shutdown {
}

button:hover#reboot {
}
*/