hotkey-overlay {
    skip-at-startup
}

environment {
    DMS_RUN_GREETER "1"
}

spawn-at-startup "sh" "-c" "qs -p _DMS_PATH_; niri msg action quit --skip-confirmation"

gestures {
   hot-corners {
     off
   }
}

layout {
  background-color "#000000"
}
