/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #745b8c !important;
  --toolbarbutton-icon-fill: #b8a8f0 !important;
  --toolbar-field-color: #f0f0f0 !important;
  --tab-selected-textcolor: #b8a8f0 !important;
  --toolbar-color: #f0f0f0 !important;
  --arrowpanel-color: #f0f0f0 !important;
  --arrowpanel-background: #09070d !important;
  --sidebar-text-color: #f0f0f0 !important;
  --zen-main-browser-background: #09070d !important;
  --zen-main-browser-background-toolbar: #09070d !important;
}

#zen-browser-background {
  --zen-main-browser-background: #09070d !important;
  --zen-background-opacity: 1 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #09070d !important;
  --zen-background-opacity: 1 !important;
}

.sidebar-placesTree {
  background-color: #09070d !important;
}

#zen-workspaces-button {
  background-color: #09070d !important;
}

#TabsToolbar {
  background-color: #09070d !important;
}

.urlbar-background {
  background-color: #09070d !important;
}

.urlbar-input::selection {
  color: #1e1e00 !important;
  background-color: #b8a8f0 !important;
}

.urlbarView-url {
  color: #c9b8d9 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #b8a8f0
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #ccbdff !important;
  --identity-icon-color: #ccbdff !important;
}

.identity-color-turquoise {
  --identity-tab-color: #b8a8f0 !important;
  --identity-icon-color: #b8a8f0 !important;
}

.identity-color-green {
  --identity-tab-color: #a5ffb7 !important;
  --identity-icon-color: #a5ffb7 !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffe7a5 !important;
  --identity-icon-color: #ffe7a5 !important;
}

.identity-color-orange {
  --identity-tab-color: #ffd972 !important;
  --identity-icon-color: #ffd972 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9fb3 !important;
  --identity-icon-color: #ff9fb3 !important;
}

.identity-color-pink {
  --identity-tab-color: #d5c9ff !important;
  --identity-icon-color: #d5c9ff !important;
}

.identity-color-purple {
  --identity-tab-color: #3f316f !important;
  --identity-icon-color: #3f316f !important;
}

#zen-appcontent-navbar-container {
  background-color: #09070d !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #b8a8f0 !important;
  color: #b8a8f0 !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #b8a8f0 !important;
  color: #b8a8f0 !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #b8a8f0 !important;
}
