/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #3e2723 !important;
  --toolbarbutton-icon-fill: #ff6d00 !important;
  --toolbar-field-color: #f0dfd8 !important;
  --tab-selected-textcolor: #ff6d00 !important;
  --toolbar-color: #f0dfd8 !important;
  --arrowpanel-color: #f0dfd8 !important;
  --arrowpanel-background: #271e1a !important;
  --sidebar-text-color: #f0dfd8 !important;
  --zen-main-browser-background: #1a120e !important;
  --zen-main-browser-background-toolbar: #1a120e !important;
}

#zen-browser-background {
  --zen-main-browser-background: #1a120e !important;
  --zen-background-opacity: 1 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #1a120e !important;
  --zen-background-opacity: 1 !important;
}

.sidebar-placesTree {
  background-color: #271e1a !important;
}

#zen-workspaces-button {
  background-color: #271e1a !important;
}

#TabsToolbar {
  background-color: #1a120e !important;
}

.urlbar-background {
  background-color: #271e1a !important;
}

.urlbar-input::selection {
  color: #000000 !important;
  background-color: #ff6d00 !important;
}

.urlbarView-url {
  color: #d7c2b9 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #ff6d00
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #ff8226 !important;
  --identity-icon-color: #ff8226 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #ff6d00 !important;
  --identity-icon-color: #ff6d00 !important;
}

.identity-color-green {
  --identity-tab-color: #6bff4c !important;
  --identity-icon-color: #6bff4c !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffdf4c !important;
  --identity-icon-color: #ffdf4c !important;
}

.identity-color-orange {
  --identity-tab-color: #ffd100 !important;
  --identity-icon-color: #ffd100 !important;
}

.identity-color-red {
  --identity-tab-color: #ff493f !important;
  --identity-icon-color: #ff493f !important;
}

.identity-color-pink {
  --identity-tab-color: #ff984c !important;
  --identity-icon-color: #ff984c !important;
}

.identity-color-purple {
  --identity-tab-color: #763200 !important;
  --identity-icon-color: #763200 !important;
}

#zen-appcontent-navbar-container {
  background-color: #1a120e !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #ff6d00 !important;
  color: #ff6d00 !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #ff6d00 !important;
  color: #ff6d00 !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #ff6d00 !important;
}
